* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background: rgb(59,58,58);
  background: radial-gradient(circle, rgba(59,58,58,1) 0%, rgba(17,25,23,1) 72%, rgba(2,3,6,1) 100%);
}

/* header */
.cont-logo {
  display: flex;
  margin-top: 72px;
  width: 100%;
  height: 150px;
  background:transparent;
  justify-content: center;
  align-items: center;
}

.cont-logo img {
  border-radius: 20px;
  width: 100px;
  height: 100px;
}

/* main */
main {
  background: transparent;
  width: 100%;
}

h1{
  font-size:40px;
  text-align: center;
  padding: 20px; 
  color: #ffffffab;
}


/* productos */
.cont-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-product{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  justify-content: center;
  align-items: center;
  margin: 30px 10px 0px 10px;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 10px 10px 15px #0a0909;
}

.card-product img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
  border: 1px solid 
  #2e2c2c;
}

.card-product p{
  margin: 10px 0;
  font-size: 20px;
} 

.card-product h4{
  font-size: 20px;
  margin: 10px 0;
} 

.card-product button{
  border: none;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  background: rgba(66, 58, 58, 0.609);
  color: #fff;
}

.card-product button:hover{
  background: rgba(20, 18, 18, 0.693);
}

.productos{
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 15px;
  margin: 15px 0;
  align-items: center;
}

.productos p,button{
  margin: 5px;
  font-size: 13px;
}

.productos button{
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 30px;
  text-align: center;
  background: rgba(183, 176, 176, 0.609);
  color: #fff;
}

.productos button:hover{
  background: rgba(64, 58, 58, 0.693);
}

.total{
  float: right;
  width: 100px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  border: 1px solid #fff;
  order: 2;
}

.total p{
  padding: 10px;
}

.vacio {
  text-align: center;
  font-size: 25px;
  margin: 20px;
}

.offcanvas-edit{
  font-size: 15px;
}

.carrito-nom{
  width: 105px;
}

.carrito-art{
  width: 82px;
  /* text-align: center; */
}

.carrito-cant{
  width: 20px;
  text-align: center;
}

.carrito-pr{
  width: 45px;
  text-align: center;
}

footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 80px 0 30px;
}

footer .redes-edit a{
  font-size: 35px;
  color: #ffffff79;
  text-decoration: none;
  margin: 15px;
  cursor: pointer;
}

footer .info-edit{
  font-size: 15px;
  color: #ffffff79;
}

.finalizar a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  background-color: #ffffff79;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #fff;
}

.finalizar{
  order: 1;
}

.cont-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comprar-fin{
  /* background: transparent; */
  width: 100%;
  height: 100vh;
}

.pagina2{
  margin-top: 86px;
  text-decoration: none;
}

.pagina2 li a{
  color: #fff;
}

.pagina2 li a:hover{
  color: #483b3b;
}

.pagina2 li a:focus{
  color: #483b3b;
}